<configuration>

    <!-- Appender console basique -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Niveau par défaut : INFO (ou WARN si tu veux encore moins) -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Hibernate : seulement les erreurs graves -->
    <logger name="org.hibernate" level="ERROR" />
    <logger name="org.hibernate.SQL" level="ERROR" />
    <logger name="org.hibernate.type.descriptor.sql" level="ERROR" />

</configuration>
